body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.timer {
  font-size: 48px;
  color: white;
}

.gray-row {
  background-color: #777;
  color: white;
}

.green-column {
  flex: 1;
  background-color: #4CAF50;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.gray-column {
  flex: 1;
  background-color: #777;
  text-align: center;
  padding: 10px;
}

.text-centered {
  text-align: center;
}

.reset-button, .start-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  margin: 0 5px;
}

.reset-button:hover, .start-button:hover {
  background-color: #45a049;
}
